/* client/src/components/dialogs/DialogShow.css */

.card-button {
    margin-bottom: 0.5em;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    h1 {
            font-size: 3em;
    }
}