/* client/src/components/NavBar.css  */

#text-color {
    color: #ee6e73;
    margin-left: 1em;
}

#navbar-icon {
    max-height: 1.2em;
    margin-bottom: -0.2em;
    margin-right: 0.2em;
}

@media only screen and (max-width: 600px) {
    #text-color {
        margin-left: 0;
    }

    #nav-icon {
        margin: 0;
        padding: 0;
    }
}

